html {
  font-size: 62.5%;
}

:root {
  --color-body: #f3eded;
  --text-shodow: 2px 2px 0 #000;
  --color-heading: #1b0760;
  --color-nav: #5eb7c0;
  --text-color: #8e8e8e;
}

h2,
h3 {
  font-size: 4rem;
  color: var(--color-nav);
}
a {
  text-decoration: none;
  text-transform: capitalize;
}

body {
  background-color: var(--color-body);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.bar {
  padding: 2rem;
  box-shadow: 0 0 20px 5px #eeebeb;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  list-style: none;
  height: 2rem;
}

nav li {
  font-size: 1.5rem;
}
nav li a {
  color: var(--color-nav);
}

nav li a:hover {
  box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
  border-radius: 1rem;
  transition: transform 0.3s;
  border: 1 solid;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-body);
  transform: scale(1.5);
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/386/original/pexels-delbeautybox-853427.jpg?1688569801);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero {
  text-align: center;
  color: #fff;
  text-shadow: var(--text-shodow);
  padding: 7rem;
}
.hero h1 {
  font-family: "work san", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 0.3rem;
  line-height: 1.2;
  margin: 3rem 0;
  animation: bounce;
  animation-duration: 3s;
}
.hero p {
  word-spacing: 0.5rem;
  font-size: 2rem;
  text-transform: capitalize;
}
.hero button {
  margin-top: 5rem;
  border: none;
  border-radius: 5rem;
  padding: 2.5rem;
  background-color: #744d29;
  cursor: pointer;
}
.hero button a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.5rem;
}

.hero button:hover {
  box-shadow: 0 0 15px 20px #f9f9f9;
  transform: rotate(10deg);
  transition: all 150ms ease-in-out;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  margin-top: 5rem;
}
.fa-solid {
  font-size: 30px;
  color: var(--color-nav);
  margin: 10px;
}
.icon-text {
  font-size: 20px;
  padding: 1rem;
  line-height: 1.5;
  font-family: bold;
  color: #bcbdbe;
  text-transform: capitalize;
}
.icon-text p {
  font-size: 10px;
  color: #282545;
  text-transform: uppercase;
}
.text-align,
.damsel {
  margin: 5rem;
}

.text-designs {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-nav);
  line-height: 3;
  text-transform: uppercase;
  text-align: center;
}
.text-designs p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
}
.text--pro {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.grid-item {
  position: relative;
  display: grid;
}

.img-fluid {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
    to bottom rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

.image-caption {
  position: absolute;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  padding: 1rem;
  margin: 2rem;
  top: 2rem;
  border-radius: 5px;
  right: 100px;
  text-transform: capitalize;
}

.image-caption h3 {
  font-size: 15px;
}
.image-caption:hover {
  animation: bounceInDown;
  animation-duration: 3s;
  animation-delay: 1s;
}

.img-fluid-2,
.grid--img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.8rem;
  object-fit: cover;
  border-radius: 4rem;
}
.card-container {
  padding: 5rem;
}
.card-body {
  box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
}
.card-title {
  font-size: 2rem;
  color: var(--text-color);
}
.card-text {
  font-size: 1.2rem;
}
.btn-info {
  background-color: var(--color-nav);
  color: #fff;
  border-radius: 2rem;
  border: none;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1rem 2rem;
}
.btn-info:hover {
  color: #fff;
}

.grid--img {
  border-radius: 80%;
  height: 80%;
}
.grid--img:hover {
  animation: fadeOut;
  animation-duration: 5s;
  animation-delay: 1s;
  cursor: pointer;
}

.text h3 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  margin: 4rem;
  font-size: 3rem;
}

.text h4 {
  font-size: 2.5rem;
  line-height: 2;
  color: var(--text-color);
}

.text p,
.boder-text-p {
  line-height: 2;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: "Work Sans", sans-serif;
  color: var(--text-color);
}
.btn-outline {
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 300;
  border: 1px solid var(--color-nav);
  border-radius: 4rem;
  cursor: pointer;
  overflow: hidden;
  color: var(--color-nav);
  text-align: center;
}

.btn-outline:hover {
  background: var(--color-nav);
  transition: transform 0.3s;
  color: #fff;
}

.boder-card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}
.essencial {
  padding: 3rem;
}

.boder--img {
  width: 100%;
  border-radius: 2rem;
}
.boder-text {
  font-size: 2rem;
  color: var(--color-nav);
  font: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.5;
}

.btn--outline2 {
  background: var(--color-nav);
  color: #fff;
  border: none;
  border-radius: 50px;
}

.btn--outline2:hover {
  background: rgb(223, 44, 44);
  color: #fff;
}

.grid,
.gallery {
  display: grid;
  gap: 10px;
}

section h2 {
  font-size: 4rem;
}

.gallery img {
  width: 100%;
  border-radius: 2rem;
}
@media screen and (min-width: 1024px) {
  nav li {
    font-size: 2rem;
  }

  .hero {
    padding: 10rem;
  }
  .hero h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  .hero p {
    font-size: 3rem;
  }
  .hero button {
    padding: 3rem 1.5rem;
  }
  .hero button a {
    font-size: 2rem;
  }
  .icons {
    justify-content: space-around;
    margin-top: 10rem;
  }
  .fa-solid {
    font-size: 40px;
  }
  .icon-text {
    line-height: 2;
  }
  .icon-text p {
    font-size: 15px;
  }

  .image-caption {
    right: -50px;
  }
  .text-designs {
    font-size: 3rem;
  }
  .text h3 {
    font-size: 4rem;
    font-weight: 700;
  }
  .text p {
    font-size: 2rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }

  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__name,
  .plan__price,
  .plan__billing-cycle,
  .plan__description {
    margin: 15px;
  }
  .btn {
    font-size: 1rem;
  }
  .text-designs {
    font-size: 2.5rem;
    line-height: 4;
  }

  .card-container {
    padding: 0;
  }
  .boder-text {
    font-size: 3rem;
  }
  .boder-text-p {
    font-size: 2.5rem;
  }
  .grid--1x5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
    margin: 40px;
  }
  .gallery img:hover {
    transform: perspective(200px) translateZ(30px);
  }
}
